:root {
  --white-bg: rgb(216, 216, 224);
  --blue-nav: #282c34;
  --box-shadow: #535353ea;
}

.App {
  text-align: center;
  background-color: var(--white-bg);
  height: 100vh;
}

.App-header {
  background-color: var(--blue-nav);
  height: 130px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

@media only screen and (max-width: 670px) {
  .App-header>div {
    width: 270px;
    flex-wrap: wrap;
  }
}